/*
filename: [Assignment]
author: [Md.Radif Rafayet Chowdhury]
created: [24/08/2021]
last modified: [29/8/2021]
description: [Assignment 01]
*/


/*------------------------header-----------------------------------*/

.menubar{ background-color: silver ;
          background-repeat: no-repeat;
		  background-size: cover;
		  display: flex;
		  justify-content: center;
		  flex-direction: row;
		  width: 100%;
          height: 60px;
		  align-items: center;
          z-index: 999;
}

.menubar a:hover{
    color: #e38d8d;
}

.menu{ font-size:40px;
      color: #000000;
      padding: 15px;
}

/*----------------------Home Page-------------------------------------*/
 
.about{ background-image: url("../Pictures/BG.jpg");
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
		line-height: 30pt;
		font-size: 30px;
		position: relative;
        width: calc(100% - 200px);
        min-height: 100%;
        padding: 0px 100px;
}

.center{ display: flex;
	     justify-content: center;
}

.picture { float: left;
}		

.computer{ background-image: url("../Pictures/computer.jpg");
           background-size: cover;
           background-repeat: no-repeat;
		   font-size: 30px;
}

.phrase{font-size: 30px;
        color: black;
		line-height: 30pt;
}

.middle{display: block;
        margin-left: auto;
        margin-right: auto;
 }

.pic{  float: right;
}

.list{ color: rgb(128,0,128);
       line-height: 200%;
	   font-size: 30px;
}


/*------------------------Footer-----------------------------------*/

.end { background-color: #000000 ;
       color: white;
       display: flex;
	   justify-content:center;
	   background-size: cover;
       background-repeat: repeat;
	   font-size:20px;
	   margin:auto;
}

.lists {line-height: 30pt;
}

.lists a:hover {
	color: #e38d8d ;
}
        

/*----------------------Employment-------------------------------------*/

.laptop{ background-image: url("../Pictures/white.png");
         background-size: cover;
         background-repeat: no-repeat;
		 font-size: 25px;
		 position: relative;
		 width: calc(100% - 200px);
         min-height: 100%;
         padding: 0px 100px;
}

    
.color{ color: rgb(128,0,128);
        display: flex;
	    justify-content: center;
}
 
.tne{ float: right;
}

.csm{ float: right;
}

/*-------------Application-----------------------------*/

.abt{ background-image:url("../Pictures/abtbc.png");
      background-size: cover;
      background-repeat: no-repeat;
	  font-size:25px;
	  color:  #c0c0c0;
}
.abt{ position: relative;
      width: calc(100% - 200px);
      min-height: 100%;
      padding: 0px 100px;
}

 .jobn{
   color: ghostwhite;
 }           
 
 .apply-main-body{
  margin-top: -21px;
  padding-top: 25px;
  background-image: url("../images/bg77.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: aliceblue;
}

.apply-main-body h1{
  display: flex;
  justify-content: center;
}
.apply-p-element{
  display: grid;
  grid-template-columns: 20% 10%;
  justify-content: center;
}
.apply-fieldset-gender-selection-size{
  margin-left: 35%;
  margin-right: 50%;
}
.apply-check-box{
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 35%;
  margin-right: 55%;
}
.apply-text-area{
  display: flex;
  justify-content: center;
}
.apply-buttons-section{
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
}

/*-----------About-------------------------------*/

.dp{ float: right;
}

.pi{  background-image:url("../Pictures/pi.png");
      background-size: cover;
      background-repeat: no-repeat;
	  font-size:25px;
	  color: Black;
	  position: relative;
      width: calc(100% - 200px);
      min-height: 100%;
      padding: 0px 100px;
	  line-height: 30pt;
}


#dec{   margin: auto;
        border: 1px solid black;
        word-spacing: normal;
        text-align: center;
}

th, td {  border: 1px solid black;
          word-spacing: normal;
          text-align: center;
}

.link:hover{border-radius: 30px;
            transition: 0.3s;
			color: red ;
}
  

/*-----------Enhancement-------------------------------*/

.enhance{  background-image:url("../Pictures/enhance.png");
           background-size: cover;
           background-repeat: no-repeat;
	       font-size:25px;
	       color: Black;
	       position: relative;
           width: calc(100% - 200px);
           min-height: 100%;
           padding: 0px 100px;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
.prs{   color: #fff;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        font-size: 18px;
        max-width: 28%;
}


/*-----------Enhancement 2-------------------------------*/
.small-font{ color: coral;}

.page-wrapper{ background-color: rgb(255,255,251);
}

.slider {
  position: relative;
}

.slider .slider-title {
  text-align: center;
  margin: 30px auto;
}

.slider .next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}

.slider .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}

.slider .post-wrapper {
  width: 84%;
  height: 350px;
  margin: 0px auto;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
}

.slider .post-wrapper .post {
  width: 1000px;
  height: 1030px;
  margin: 0px 10px;
  display: inline-block;
  background: white;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.slider .post-wrapper .post .post-info {
  height: 130px;
  padding: 0px 5px;
}

.slider .post-wrapper .post .slider-image {
  width: 100%;
  height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Post wrapper and jo bi ho*/


/*
=============== 
Counter
===============
*/

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.container {
  text-align: center;
  color:indigo
  
}
#value {
  font-size: 9rem;
  font-weight: bold;
 
}
.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin: 0.5rem;
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}




